.home {
    
}
.home .sidebar {
    width: 20%;
    height: calc(100vh);
    float: left;
    background-color: rgba(0, 0, 0, .8);
}
.home .content {
    width: 80%;
    height: calc(100vh);
    float: left;
    background-color: rgba(100, 100, 100, .3);
}
.home::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}