.home {
    
}
.home .header {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, .8);
}
.home .sidebar {
    width: 15%;
    height: calc(100vh - 100px);
    float: left;
    background-color: rgba(0, 0, 0, .8);
}
.home .content {
    width: 85%;
    height: calc(100vh - 100px);
    float: left;
    background-color: rgba(100, 100, 100, .3);
}
.home .content .design-area {
    float: left;
    width: 80%;
    height: 100%;
}
.home .content .property-area {
    float: left;
    width: 20%;
    height: 100%;
}
.home::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}